<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

<!-- Configuration de la connexion -->
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/formation_session?serverTimezone=UTC</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">root</property>
<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

<!-- Configuration des propriétés de hibernate -->
<property name="hibernate.hbm2ddl.auto">update</property>
<!-- Les valeurs possibles : create, update, validate, create-drop -->

<!-- Déclarer le dialect correspondant à MySQL -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

<!-- Afficher les requetes SQL générées (true) -->
<property name="hibernate.show_sql">true</property>

<!-- Déclaration des fichiers de mapping -->
<mapping class="com.fr.adaming.entities.Personne"/>
<mapping class="com.fr.adaming.entities.Apprenant"/>
<mapping class="com.fr.adaming.entities.Consultant"/>
<mapping class="com.fr.adaming.entities.CycleFormation"/>
</session-factory>
</hibernate-configuration>